.container {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  align-content: flex-end;
  margin-left: 150px;
}

.player {
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  display: inline;
}

.winner-text {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: linear-gradient(90deg, #32cd32, #ffdf00, #32cd32);
  background-size: 200%;

  animation: glow 2s linear infinite;
}

@keyframes glow {
  0% {
    background-position: 0%;
    text-shadow: 0 0 10px #32cd32, 0 0 10px #ffffff;
  }
  50% {
    background-position: 100%;
    text-shadow: 0 0 20px #32cd32, 0 0 20px #ffdf00;
  }
  100% {
    background-position: 0%;
    text-shadow: 0 0 10px #32cd32, 0 0 0px #ffdf00;
  }
}

.X-near-player {
  display: inline;
  color: #4169e1;

  font-size: 20px;
  text-transform: uppercase;
  display: inline;
}
.first-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.O-near-player {
  display: inline;
  color: #ff4500;
  font-size: 20px;
  font-family: Arial, sans-serif;
}
h3 {
  font-size: 15px;
  margin: 0;
  margin-left: 15px;
}

button {
  width: 150px;
  color: #1e0505;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  border-radius: 15px;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
}

button:hover {
  background-color: #ffffff;
  color: #1e0404;
}

.player-box {
  background-color: #cce7ff;
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-bottom: 10px;
}
.boxes.winner {
  /* border: rgb(240, 248, 240) solid 3px !important; */
  color: rgb(165, 127, 255);
  /* background-color: #fff !important; */
}

.active-player {
  text-shadow: 0 0 10px rgba(100, 149, 237, 0.5);
}
.active-player::before {
  text-shadow: 0 0 10px rgba(100, 149, 237, 0.5);
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #2cb511;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.winning-box {
  border: 3px solid #32cd32; /* Lime Green */
  box-shadow: 0 0 10px #32cd32, 0 0 20px #32cd32; /* Glowing effect */
  z-index: 10;
}

.inactive-player::before {
  text-shadow: 0 0 10px rgba(100, 149, 237, 0.5);
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "box-1 box-2 box-3"
    "box-4 box-5 box-6"
    "box-7 box-8 box-9";

  /* margin: 350px; */
  gap: 0;
  padding: 10px;
  width: 500px;
  height: 500px;
}

.red-bg {
  background-color: red;
}
.boxes {
  background-color: #f7f7f7;
  z-index: 1;
  /* width: 100px; */
  /* height: 100px; */
  margin: 5px;
  border: 2px solid black;
  width: 170px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden; /* Prevent content overflow */
  box-sizing: border-box; /* Ensure padding doesn't affect size */
  box-shadow: rgba(141, 53, 53, 0.1);
}

.boxes:hover {
  background-color: #e0f7fa;
}

.box-1 {
  grid-area: box-1;
}
.box-2 {
  grid-area: box-2;
}
.box-3 {
  grid-area: box-3;
}
.box-4 {
  grid-area: box-4;
}
.box-5 {
  grid-area: box-5;
}
.box-6 {
  grid-area: box-6;
}
.box-7 {
  grid-area: box-7;
}
.box-8 {
  grid-area: box-8;
}
.box-9 {
  grid-area: box-9;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Needed for positioning X or O */
  cursor: pointer;
  background-color: #fff;
}

.X {
  color: #4169e1;
  font-size: 220px;
  font-family: Arial, sans-serif;
}

.O {
  color: #ff4500;
  font-size: 220px;
  font-family: Arial, sans-serif;
}

/* .X::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: black;
  position: relative;
}

.O::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: black;
  position: relative;
} */
